<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  
  <div class="widget">
    <img src="../assets/weather-forecast.png" alt="meteoImage" class="widgetImage">
    <h1 class="widgetTitle">Report qualità aria</h1>

    <hr class="widgetHr">

    <h3 class="widgetInfo"><b> Periodo: </b>{{meteo[0].data}}</h3>
    <h3 class="widgetInfo"><b>Rapporto: </b>{{meteo[0].descrizione}}</h3>
    <h3 class="widgetInfo"><b>Previsione: </b>{{meteo[0].previsione}}</h3>
    <h3 class="widgetInfo"><b>Tendenza: </b>{{meteo[0].tendenza}}</h3>
  </div>

</body>
</html>